<section class="tw-bg-logoName">
  <div class="container">
    <div class="row g-3">
      <div class="col-xl-6 tw-flex tw-flex-col tw-justify-center">
        <h5 class="tw-text-white">Find Doctor</h5>
        <h3 class="tw-leading-normal tw-text-gray-200">Find Your Right Doctor According<br>
          to Your Complaint
        </h3>
        <p class="tw-leading-normal tw-text-white">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, quasi laudantium iusto molestiae molestias iste ad in tenetur totam dicta dignissimos facilis reprehenderit, recusandae non. Aut totam suscipit similique sit.
        </p>
      </div>
      <div class="col-xl-6">
        <div>
          <img src="assets/Images/findDoctor.png">
        </div>
      </div>
    </div>
  </div>
</section>
