<div class="container tw-py-10">
  <div class="row g-3">
    <div class="col-xl-6">
      <div class="imageConatiner">
        <img src="assets/Images/findDoctor2.jpg">
      </div>
    </div>
    <div class="col-xl-6 tw-flex tw-flex-col tw-justify-center">
      <h5 class="tw-text-logoName">Make a Schedule</h5>
      <h3 class="tw-leading-normal tw-text-gray-400">Make a Schedule in Advance With Available Doctor</h3>
      <p class="tw-text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quis. Quisquam fuga laboriosam labore, distinctio beatae debitis aut a voluptatibus animi tempora sint exercitationem corporis cum soluta? In, obcaecati tempora!
      </p>
      <button class="ScheduleNowBtn tw-self-start">
        Schedule Now
      </button>
    </div>
  </div>
</div>




