<div class="container">
  <div class="row g-3">
    <div class="col-xl-6 tw-flex tw-flex-col tw-justify-center">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="tw-mx-auto tw-rounded-xl">
        <div class="row mb-3">
          <label for="OldPassword" class="col-form-label">Old Password</label>
          <div>
            <input type="password" formControlName="oldPassword" class="form-control" id="OldPassword">
          </div>
          <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)"
              class="alert alert-danger mt-2">

            <div *ngIf="f.oldPassword.errors?.['required']">
              Old Password is Required.
            </div>
            <div *ngIf="f.oldPassword.errors?.['minlength']">
              Old Password must be at least 4 characters long.
            </div>
            <div *ngIf="f.oldPassword.errors?.['forbiddenName']">
              Old Password cannot be Bob.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="NewPassword" class="col-form-label">New Password</label>
          <div>
            <input type="password" formControlName="newPassword" class="form-control" id="NewPassword">
          </div>
          <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)"
              class="alert alert-danger mt-2">

            <div *ngIf="f.newPassword.errors?.['required']">
              New Password is Required.
            </div>
            <div *ngIf="f.newPassword.errors?.['minlength']">
              New Password must be at least 8 characters long.
            </div>
            <div *ngIf="f.newPassword.errors?.['pattern']">
              <ul>
                <li>
                   minimum 8 characters in length
                </li>
                <li>
                  At least one uppercase English letter [A-Z]
                </li>
                <li>
                  At least one lowercase English letter [a-z]
                </li>
                <li>
                  At least one digit [0-9]
                </li>
                <li>
                  At least one special character [#?!@$%^&*-]
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="ConfirmNewPassword" class="col-form-label">Confirm New Password</label>
          <div>
            <input type="password" formControlName="confirmNewPassword" class="form-control" id="ConfirmNewPassword">
          </div>
          <div *ngIf="f.confirmNewPassword.invalid && (f.confirmNewPassword.dirty || f.confirmNewPassword.touched)"
              class="alert alert-danger mt-2">

            <div *ngIf="f.confirmNewPassword.errors?.['required']">
              Confirm New Password is Required.
            </div>
            <div *ngIf="f.confirmNewPassword.errors?.['minlength']">
              Confirm New Password must be at least 8 characters long.
            </div>
            <div *ngIf="f.confirmNewPassword.errors?.['pattern']">
              <ul>
                <li>
                   minimum 8 characters in length
                </li>
                <li>
                  At least one uppercase English letter [A-Z]
                </li>
                <li>
                  At least one lowercase English letter [a-z]
                </li>
                <li>
                  At least one digit [0-9]
                </li>
                <li>
                  At least one special character [#?!@$%^&*-]
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row my-3 tw-text-end">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    <div class="col-xl-6 tw-bg-light tw-overflow-hidden" style="clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);    ">
      <img src="assets/Images/resetPassword.jpg" alt="">
    </div>
  </div>
</div>
