<div class="container py-5">
  <div class="row g-3">
    <div class="col-lg-6 tw-flex tw-flex-col tw-justify-center">
      <form class="row g-3" [formGroup]="editForm" (ngSubmit)="update()">
        <div>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div>
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
        </div>
        <div>
          <label for="Clinic" class="form-label">Clinic</label>
          <select id="Clinic" class="form-select" formControlName="clinicId">
            <option selected>Clinic...</option>
            <option *ngFor="let clinic of clinics" [value]="clinic.id">{{clinic.name}}</option>
          </select>
        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 2xl:tw-block xl:tw-block lg:tw-block md:tw-hidden tw-hidden">
      <img src="assets/Images/editProfile.jpg" alt="">
    </div>
  </div>
</div>



