<nav class="navbar navbar-expand-lg navbar-light tw-bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand logo">
      <img src="assets/Images/logo.png" class="logo_img">
      <a class="logo_text">Ultra Care House</a>
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div class="d-flex" *ngIf="!isAdminUserLoghedIn">
        <a class="btn loginBtn tw-me-3" [routerLink]="['/auth/login']">
          Login
          &nbsp;
          <fa-icon [icon]="login" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn registerBtn btn-outline-success" [routerLink]="['/auth/Register']">Register</a>
      </div>
      <div ngbDropdown class="d-inline-block me-3" *ngIf="isAdminUserLoghedIn">
        <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
          Welcome {{name}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']==='Nurse' || this.token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']==='Doctor'|| this.token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']==='Admin'">
          <button ngbDropdownItem (click)="viewProfile()" *ngIf="token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']==='Doctor'">Profile</button>
          <button ngbDropdownItem (click)="editProfile()" *ngIf="token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']!=='Admin'">Edit Profile</button>
          <button ngbDropdownItem (click)="changePassword()">Change Password</button>
          <button ngbDropdownItem (click)="addPlans()" *ngIf="token['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']==='Doctor'">Add Plans</button>
        </div>
      </div>
      <div class="d-flex tw-items-baseline"*ngIf="isAdminUserLoghedIn">
        <a (click)="logout()" role="button" class="btn loginBtn tw-me-3">
          Logout
          &nbsp;
          <fa-icon [icon]="logoutIcon" [fixedWidth]="true"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>

