<header class="container">
  <div class="headerContent">
    <div class="headerContent_textContent">
      <h1>
        Medical Care Now<br>
        Simplified For <span>Everyone</span>
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis aut possimus vero, impedit ratione reiciendis quae alias soluta nobis nisi cum quos aspernatur et nulla eos minima rerum quas pariatur.
      </p>
      <button class="contactUsBtn">
        ContactUs
      </button>
      <div class="services">
        <div>
          <h3>150+</h3>
          <p>Best Doctors</p>
        </div>
        <div>
          <h3>20</h3>
          <p>Surgey Rooms</p>
        </div>
        <div>
          <h3>1400+</h3>
          <p>Patient Capacity</p>
        </div>
      </div>
    </div>
    <div class="headerContent_headerImage">
      <div class="headerContent_headerImage_container">
        <img src="assets/Images/header.jpg">
      </div>
    </div>
  </div>

</header>
