<div class="container tw-py-10">
  <div class="row g-3">
    <div class="col-lg-6">
      <div (click)="doctors()" class="card tw-mx-auto hover:tw-cursor-pointer" style="width: 18rem;">
        <div class="card-body">
          <h5 class="tw-text-logoName tw-text-center">Doctors Managements</h5>
          <img src="assets/Images/admin/doctor.png">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div (click)="nurse()" class="card tw-mx-auto hover:tw-cursor-pointer" style="width: 18rem;">
        <div class="card-body">
          <h5 class="tw-text-logoName tw-text-center">Nurse Managements</h5>
          <img src="assets/Images/admin/nurse (2).png">
        </div>
      </div>
    </div>
  </div>
</div>
