
<div class="container py-5">
  <div class="row g-3">
    <div class="col-lg-6 tw-flex tw-flex-col tw-justify-center">
      <form class="row g-3" [formGroup]="editForm" (ngSubmit)="update()">
        <div class="col-md-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="col-md-12">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
        </div>
        <div class="col-md-12">
          <label for="Description" class="form-label">Description</label>
          <input type="text" class="form-control" id="Description" placeholder="Description" formControlName="description">
        </div>
        <div class="col-md-12">
          <label for="Specialization" class="form-label">Specialization</label>
          <input type="text" class="form-control" id="Specialization" placeholder="Specialization" formControlName="specialization">
        </div>
        <div class="col-md-12">
          <label for="About" class="form-label">About</label>
          <textarea class="form-control" id="About" placeholder="About" formControlName="about" rows="3"></textarea>

        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 2xl:tw-block xl:tw-block lg:tw-block md:tw-hidden tw-hidden">
      <img src="assets/Images/editProfile.jpg" alt="">
    </div>
  </div>
</div>



