
<div class="container">
  <div class="row g-3">
    <div class="col-lg-6 tw-flex tw-flex-col tw-justify-center">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="tw-mx-auto tw-rounded-xl">
        <div class="row mb-3">
          <label for="OldPassword" class="col-form-label">Old Password</label>
          <div>
            <input type="password" formControlName="oldPassword" class="form-control" id="OldPassword">
          </div>
        </div>
        <div class="row mb-3">
          <label for="NewPassword" class="col-form-label">New Password</label>
          <div>
            <input type="password" formControlName="newPassword" class="form-control" id="NewPassword">
          </div>
        </div>
        <div class="row mb-3">
          <label for="ConfirmNewPassword" class="col-form-label">Confirm New Password</label>
          <div>
            <input type="password" formControlName="confirmNewPassword" class="form-control" id="ConfirmNewPassword">
          </div>
        </div>
        <div class="row my-3 tw-text-end">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 2xl:tw-block xl:tw-block lg:tw-block md:tw-hidden tw-hidden tw-bg-light tw-overflow-hidden" style="clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);    ">
      <img src="assets/Images/resetPassword.jpg" alt="">
    </div>
  </div>
</div>
