.doctor{
  height: 100vh;
  background: url('../../../../assets/Images/admin/nurseManage.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply
  xl:tw-py-10
  lg:tw-py-10
  md:tw-py-14
  tw-py-14 ;
 &_manage{
  @apply tw-bg-white tw-rounded-lg
  tw-opacity-70 xl:tw-p-5
  lg:tw-p-5
  md:tw-p-5
  tw-p-5;
  &_addBtn{
    @apply tw-bg-darkBlue
    tw-rounded-md tw-text-white
    tw-font-medium tw-border tw-border-darkBlue
    tw-ease-in-out hover:tw-text-darkBlue hover:tw-bg-transparent
    xl:tw-mb-5 xl:tw-px-4  xl:tw-py-1
    lg:tw-mb-5 lg:tw-px-4 lg:tw-py-1
    md:tw-mb-5 md:tw-px-4 md:tw-py-1
    tw-mb-4 tw-px-3 tw-py-1;
  }
  &_editBtn{
    @apply tw-bg-editColor
    tw-rounded-md tw-text-white
    tw-font-medium tw-border tw-border-editColor
    tw-ease-in-out hover:tw-text-editColor hover:tw-bg-transparent
    xl:tw-px-4  xl:tw-py-1
    lg:tw-px-4 lg:tw-py-1
    md:tw-px-4 md:tw-py-1
    tw-px-3 tw-py-1 tw-whitespace-nowrap;
  }
  &_deleteBtn{
    @apply tw-bg-deleteColor
    tw-rounded-md tw-text-white
    tw-font-medium tw-border tw-border-deleteColor
    tw-ease-in-out hover:tw-text-deleteColor hover:tw-bg-transparent
    xl:tw-px-4  xl:tw-py-1
    lg:tw-px-4 lg:tw-py-1
    md:tw-px-4 md:tw-py-1
    tw-px-3 tw-py-1 tw-whitespace-nowrap;
  }
 }
}
