<div class="container tw-py-8">
  <h4 class="tw-text-center tw-text-logoName">Fast Solutions</h4>
  <h3 class="tw-text-center">Step By Step To Get Your Solutions</h3>
  <div class="row g-3 my-5">
    <div class="col-xl-3">
      <div class="card p-3 mb-2 tw-shadow-lg">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon">
                  <fa-icon [icon]="search"></fa-icon>
                </div>
                <div class="ms-2 c-details">
                </div>
            </div>
        </div>
        <div>
            <h5 class="tw-my-3 heading">Health Complaints</h5>
            <p class="tw-text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus.</p>
        </div>
    </div>
    </div>
    <div class="col-xl-3">
      <div class="card p-3 mb-2 tw-shadow-lg">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon icon1">
                  <fa-icon [icon]="user"></fa-icon>
                </div>
                <div class="ms-2 c-details">
                </div>
            </div>
        </div>
        <div>
            <h5 class="tw-my-3 heading">Choose Doctor</h5>
            <p class="tw-text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus.</p>
        </div>
    </div>
    </div>
    <div class="col-xl-3">
      <div class="card p-3 mb-2 tw-shadow-lg">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon icon2">
                  <fa-icon [icon]="time"></fa-icon>
                </div>
                <div class="ms-2 c-details">
                </div>
            </div>
        </div>
        <div>
            <h5 class="tw-my-3 heading">Make a Schedule</h5>
            <p class="tw-text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus.</p>
        </div>
    </div>
    </div>
    <div class="col-xl-3">
      <div class="card p-3 mb-2 tw-shadow-lg">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon icon3">
                  <fa-icon [icon]="star"></fa-icon>
                </div>
                <div class="ms-2 c-details">
                </div>
            </div>
        </div>
        <div>
            <h5 class="tw-my-3 heading">Get Your Solutions</h5>
            <p class="tw-text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus.</p>
        </div>
    </div>
    </div>
  </div>
</div>
