<footer class="text-center text-white tw-bg-light">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        >
        <fa-icon [icon]="faFacebookF" [fixedWidth]="true"></fa-icon></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        >
        <fa-icon [icon]="faTwitter" [fixedWidth]="true"></fa-icon>

    </a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        >
        <fa-icon [icon]="faGoogle" [fixedWidth]="true"></fa-icon>

    </a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        >
        <fa-icon [icon]="fainsta" [fixedWidth]="true"></fa-icon>

    </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg tw-text-logoName m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center tw-bg-logoName tw-text-light p-3">
    © {{year}} Copyright:
    <a class="tw-text-light">UltraCareHouse.com</a>
  </div>
  <!-- Copyright -->
</footer>
